ui = true
listener "tcp" {
  tls_disable = 1
  address = "[::]:8200"
  cluster_address = "[::]:8201"
}

storage "raft" {
  path = "/vault/data"
}

seal "azurekeyvault" {
  tenant_id       = "hidden"
  client_id       = "hidden"
  client_secret   = "hidden"
  vault_name      = "vault-on-aks"
  key_name        = "vault-aks"
  subscription_id = "hidden"
}

service_registration "kubernetes" {}